# Compiled files
*.class
src/main/webapp/WEB-INF/classes*
src/main/webapp/WEB-INF/.gitignore
target

# Package Files #
*.jar
*.war
*.ear

# Eclipse Files #
/target
nb-configuration.xml

# Other Editors #
*~

#Mac OS Finder
.DS_Store
