<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- lembrando a ordem: DEBUG - INFO - WARN - ERROR - FATAL -->
	

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %5p [%-20c{1}] %m%n" />
		</layout>
	</appender>

	<appender name="arquivo" class="org.apache.log4j.FileAppender">
		<param name="File" value="${catalina.home}/logs/cardholder.log" />
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %5p [%-20c{1}] %m%n" />
		</layout>
	</appender>

	<appender name="hibernate" class="org.apache.log4j.FileAppender">
		<param name="File" value="${catalina.home}/logs/hibernate.log" />
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %5p [%-20c{1}] %m%n" />
		</layout>
	</appender>

	<!-- <appender name="mailAppender" class="org.apache.log4j.net.SMTPAppender">
		<param name="SMTPProtocol" value="smtps" />
		<param name="Tls" value="true" />
		<param name="StartTls" value="true" />
		<param name="SMTPHost" value="smtp.gmail.com" />
		<param name="SMTPPort" value="465" />
		<param name="SMTPUsername" value="marcos.filho@unik.com.br" />
		<param name="SMTPPassword" value="783709218" />
		<param name="From" value="marcos.filho@unik.com.br" />
		<param name="To" value="marcos@ffm.com.br" />
		<param name="Subject" value="Log4j E-Mail notification" />
		<param name="BufferSize" value="20" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}]%n%n%-5p%n%n%c%n%n%m%n%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="error" />
			<param name="LevelMax" value="fatal" />
		</filter>
	</appender> -->

	<category name="br.com.caelum.vraptor">
		<priority value="INFO" />
		<appender-ref ref="console" />
	</category>

	<category name="org.springframework">
		<priority value="INFO" />
		<appender-ref ref="console" />
	</category>

	<category name="org.hibernate">
		<priority value="INFO" />
		<appender-ref ref="console" />
	</category>


</log4j:configuration>